:root {
  --light-pink: #ebcadf;
  --hot-pink: #fd68bf;
  --purple: #5e17ea;
  --red: #e30713;
  /* --dark-red: #e80618; */
  --dark-purple: #4a4695;
  --black: #000;
  --white: #fff;

  --nav-height: 50px;

  --size-head: 28px;
  --line-head: 40px;
  --size-subhead: 24px;
  --line-subhead: 32px;
  --size-body: 16px;
  --line-body: 24px;
}

@media (min-width: 768px) {
  :root {
    --size-head: 40px;
    --line-head: 48px;
    --size-subhead: 32px;
    --line-subhead: 40px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Open+Sans:wght@600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: var(--light-pink);
  color: var(--purple);
}

p {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer a {
  display: block;
  max-width: 350px;
  margin: 0 auto;
}