.section {
  padding: calc(var(--nav-height) * 2) 0;
}

@media (min-width: 768px) {
  .section {
    min-height: 100vh;
    padding: calc(var(--nav-height) * 3) 0;
  }
}

.section:first-of-type {
  background-color: var(--purple);
  color: var(--white);
  min-height: 0;
}

/* .section img {
  display: block;
  width: 100%;
} */

.nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  z-index: 2;
}

.logoimg {
  max-width: 33%;
  margin: 50vh auto;
}

.logoimglg {
  max-width: 66%;
  margin: 0 auto;;
}

/* type styles */
.logohead {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.logo {
  font-weight: 900;
  font-size: calc(100vw / 5.1);
  margin-top: calc(100vh - 285px - 50px);
  margin-bottom: 3vh;
}

.link {
  display: inline-block;
  position: relative;
  transition: all 0.3s;
}

.link svg {
  width: 100%;
  height: auto;
}

.link:after {
  background-color: var(--black);
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 50%;
  transition: width 0.3s;
  width: 0;
}
/* 
.link:hover:after {
  width: 100%;
} */

a.heading:hover,
.link:hover {
  font-style: italic;
}

.svglink {
  display: block;
}

.svglinklg svg {
  max-height: 250px;
  /* height: auto;
  width: 100%; */

  max-width: 300px;
  height: auto;
  width: 100%;
}

.svglink svg * {
  transition: fill 0.3s;
}

.svglink:hover svg * {
  fill: var(--black)
}

.displayhead {
  /* font-size: var(--size-head); */
  /* font-size: 15.3vw; */
  font-size: 13vw;
  line-height: 1;
  font-weight: 900;
  margin: 2rem 0 3rem;
  max-width: 66%;
}

.centered {
  margin: 2rem auto 5rem;
  max-width: 75%;
}

.displayhead span {
  display: block;
  font-style: italic;
}

.cta {
  font-size: 6vw;
  font-weight: 900;
  display: block;
  font-style: italic;
  transition: color 0.3s;;
}

a.cta:hover {
  color: var(--light-pink);
}

.heading {
  /* font-family: 'Inter', sans-serif; */
  font-weight: 700;
  font-size: var(--size-head);
  line-height: var(--line-head);
}
.subheading {
  /* font-family: 'Inter', sans-serif; */
  font-weight: 700;
  font-size: var(--size-subhead);
  line-height: var(--line-subhead);
}

.body {
  font-size: var(--size-subhead);
  line-height: var(--line-subhead);
}

.center {
  text-align: center;
}

.content {
  margin: 2rem 0;
  margin-left: 2rem;
}

@media(min-width: 768px) {
  .content {
    max-width: 75%;
    margin-left: 4rem;
  }
}

.list {
  background-color: var(--light-pink);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 70px 0 20px;
  transition: all 0.3s;
  transform: translateY(-100%);
}

.list:global(.open) {
  transition: all 0.3s;
  transform: translateY(0)
}

.list li {
  margin: 10px;
}

.list li a {
  font-size: var(--size-head);
  line-height: var(--line-head);
  font-weight: 900;
}

.listreset {
  list-style: none;
  margin: 0;
  padding: 0;

  
  justify-content: space-around;
  align-items: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 3rem; */
  grid-row-gap: 3rem;
}


.listreset > a,
.listreset li {
  margin: 0 1rem;
}


@media(min-width: 768px) {
 .listreset {
  display: flex;
   flex-direction: row;
   grid-gap: 0;
 } 
 
 .listreset > a,
 .listreset li {
   margin: 0 2.5rem;
 }
}

/* .container {
  background-color: var(--black);
  color: var(--white);
} */

.grid50 {
  display: grid;
}

@media (min-width: 768px) {
  .grid50 {
    grid-template-columns: 1fr 1fr;
  }
}

.socialicon {
  max-width: 80px;
  height: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .socialicon {
    max-width: 150px;
  }
}

.heading {
  font-family: 'Inter', sans-serif;
}
.subheading {
  font-family: 'Inter', sans-serif;
}


/* NAVIGATION */

.burger {

  /* background-color: transparent;
  border: 0;
  border-bottom: 9px solid var(--purple);
  border-top: 9px solid var(--purple);
  box-shadow: none;
  display: block;
  height: 28px;
  position: fixed;
  right: 25px;
  top: 25px;
  transition: all 0.3s;
  width: 50px;
  z-index: 9; */

  background-color: transparent;
  border: 0;
  border-bottom: 18px solid var(--purple);
  border-top: 18px solid var(--purple);
  box-shadow: none;
  display: block;
  height: 46px;
  position: fixed;
  right: 12px;
  top: 20px;
  transition: all 0.3s;
  width: 70px;
  z-index: 9;
}

.burger:hover {
  cursor: pointer;
  height: 50px;
}

.footer a {
  display: block;
  max-width: 350px;
  margin: 0 auto;
}

.footerlogo {
  display: block;
  max-width: 350px;
  margin: 0 auto;
}

.bio {
  display: grid;
  max-width: 85%;
  margin: 150px 0 50px;
  margin-left: 2rem;
}

@media (min-width: 768px) {
  .bio {
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    margin-left: 4rem;
    grid-gap: 50px;
  }
}

.bio figure {
  width: 100%;
  display: block;
  margin: 0;
}

.marginTop {
  margin-top: 50px;;
}

.bgPurple {
  background-color: var(--purple);
  color: var(--white);
}